<%= form_for @tweet, :url => {:action => 'create'} do |f| %>
    <div class="field">
      <%= f.label :message, 'ツイート内容' %><br />
      <%= f.text_area :message %>
    </div>
    <div class="actions">
      <%= f.submit 'ツイート' %>
    </div>
<% end %>