<h1>タイムライン</h1>

<table border="1">
  <tr>
    <th>投稿者</th>
    <th>ツイート内容</th>
    <th>投稿時間</th>
    <th>オプション</th>
  </tr>
  <% for tweet in @tweets %>
      <tr>
        <td>
          <%= link_to tweet.user.name, "/user/#{tweet.user.id}" %>
        </td>
        <td>
          <pre><%= tweet.message %></pre>
        </td>
        <td>
          <%= tweet.created_at %>
        </td>
        <td>
          <% if current_user.present? && tweet.user.id == current_user.id %>
            <%= link_to '削除', "/tweet/delete/#{tweet.id}", method: :delete %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<% if user_signed_in? %>
  <%= link_to '新規ツイート', tweet_new_path %>
<% end %>

