<h1>ユーザー一覧</h1>

<table border="1">
  <tr>
    <th>ユーザー名</th>
    <th>紹介文</th>
    <th>フォローボタン</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td>
        <%= link_to user.name, "/user/#{user.id}" %>
      </td>
      <td>
        <pre><%= user.profile_text %></pre>
      </td>
      <td>
        <% if current_user.present? && user.id != current_user.id %>
            <% if @follow_ids.include? user.id %>
              <%= link_to 'アンフォロー', follow_path(follow_user_id: user.id), method: :delete %>
            <% else %>
              <%= link_to 'フォロー', follow_path(follow_user_id: user.id), method: :post %>
            <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
