<h1>ユーザー詳細</h1>

<h2>ユーザー名</h2>
<p><%= @user.name %></p>

<h2>プロフィール</h2>
<pre><%= @user.profile_text %></pre>

<h2>ツイート一覧</h2>
<% if @tweets.empty? %>
    <p>ツイートがありません</p>
<% else %>
<table border="1">
  <tr>
    <th>投稿者</th>
    <th>ツイート内容</th>
    <th>投稿時間</th>
    <th>オプション</th>
  </tr>
    <% for tweet in @tweets %>
      <tr>
        <td>
          <%= @user.name %>
        </td>
        <td>
          <pre><%= tweet.message %></pre>
        </td>
        <td>
          <%= tweet.created_at %>
        </td>
        <td>
          <% if current_user.present? && tweet.user.id == current_user.id %>
              <%= link_to '削除', "/tweet/delete/#{tweet.id}", method: :delete %>
          <% end %>
        </td>
      </tr>
    <% end %>
</table>
<% end %>

<%= link_to "一覧に戻る", user_index_path %>