<h1>フォロー</h1>

<table border="1">
  <tr>
    <th>ユーザー名</th>
    <th>フォロー日時</th>
    <th>フォローボタン</th>
  </tr>
  <% for follow in @follows %>
    <tr>
      <td>
        <%= follow.follow_user.name %>
      </td>
      <td>
        <%= follow.created_at %>
      </td>
      <td>
        <%= link_to 'アンフォロー', follow_path(follow_user_id: follow.follow_user.id), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>

<h1>フォロワー</h1>

<table border="1">
  <tr>
    <th>ユーザー名</th>
    <th>フォロー日時</th>
    <th>フォローボタン</th>
  </tr>
  <% for follow in @followers %>
      <tr>
        <td>
          <%= follow.user.name %>
        </td>
        <td>
          <%= follow.created_at %>
        </td>
        <td>
          <% if current_user.present? %>
              <% if @follow_ids.include? follow.user.id %>
                  <%= link_to 'アンフォロー', follow_path(follow_user_id: follow.user.id), method: :delete %>
              <% else %>
                  <%= link_to 'フォロー', follow_path(follow_user_id: follow.user.id), method: :post %>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
