<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @memo.user_id %>
</p>

<p>
  <strong>Header:</strong>
  <%= @memo.header %>
</p>

<p>
  <strong>Body:</strong>
  <%= @memo.body %>
</p>

<%= link_to 'Edit', edit_memo_path(@memo) %> |
<%= link_to 'Back', memos_path %>
