<!DOCTYPE html>
<html>
  <head>
    <title>TwitterModoki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="background: #eee">
        <nav>
          <%= link_to "ホーム", root_path %>
          <%= link_to "ユーザー一覧", user_index_path %>
          <% if user_signed_in? %>
              <p>ろぐいん: <%= current_user.name %> さんこんにちは</p>
              <%= link_to "新規ツイート", tweet_new_path %>
              <%= link_to "フォロー/フォロワー", follow_index_path %>
              <%= link_to "設定", {:controller => "users/registrations", :action => "edit"} %>
              <%= link_to "ログアウト", {:controller => "users/sessions", :action => "destroy"}, :method => :delete%>
          <% else %>
              <p>非ろぐいん: ログインしましょう</p>
              <%= link_to "ログイン", {:controller => "users/sessions", :action => "create"} %>
              <%= link_to "新規登録", {:controller => "users/registrations", :action => "new"} %>
          <% end %>
        </nav>
    </header>
    <p class="notice" style="background: #00aa00"><%= notice %></p>
    <p class="alert" style="background: #aa5555"><%= alert %></p>

    <%= yield %>
  </body>
</html>
